body {
	background: #efefef;
	font-family: Verdana;
}

h3 {
	display: inline;
	margin-bottom: 2em;
}

/*.items {
	clear: both;
}*/

.item {
	background: #FFF;
	width: 20%;
	/*float: left;*/
	box-shadow: 0 0 20px #aaa;
	margin: 1em;
	padding: 2em;
	height: 200px;
	display: inline-block;
}

.price_par {
	width: 50%;
	margin-top: 1em;
	margin-left: auto;
	margin-right: auto;
	padding: 1em 0;
	text-align: center;
	font-size: 1.8em;
}


